---
import '@src/styles/global.css';
import '@src/styles/home.css';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import TextOval from '@src/layouts/TextOval.astro';
import Oval from '@src/layouts/Oval.astro';
import Squish from 'src/layouts/Squish.astro';
import Columns from '@src/layouts/Columns.astro';

import random from "../scripts/random";
import { adjustColor, cssString } from '@src/scripts/color-utils';

function color() {
	return cssString(adjustColor({r: 168, g: 178, b: 190}, random(0.7, 1.2), random(0.9, 1.05)))
}

import { getCollection } from 'astro:content';

const imageImporters = import.meta.glob('/src/assets/**/*.{jpeg,jpg,png,gif,svg}');

const allWork = await getCollection('work');
const images = [];

for (let content of allWork) {
	const { remarkPluginFrontmatter } = await content.render();
	for (let item of remarkPluginFrontmatter.toc) {
		if (item.type === 'image') {
			const bubblePath = item.image.bubble
			if (bubblePath) {
				images.push({
					id: item.id,
					url: `/work/${content.slug}#${item.id}`,
					img: imageImporters[bubblePath](),
				})
			}
		}
	}
}

---

<BaseLayout title="Calder Ruhl Hansen" name={false}>
	<TextOval squareness={38} id="intro">
		<p>
			Hi! I am a <a href="/work?tag=design">designer</a>, <a href="/work?tag=code">programmer</a>, and <a href="/work?tag=art">artist</a> with a background in <a href="/work?tag=type">type design</a> and <a href="/work?tag=3d">3D animation</a>. I enjoy developing systems to solve complex visual problems, and I’m happiest when this process gets me working with interesting math, algorithms, and&nbsp;shapes.
		</p>
	</TextOval>

	<Columns id="oval-cols" columnWidth={300} columnGap={0} paddingFunction="frown" prepareItems={false}>
		{images.map(({id, url, img}) => <Squish><Oval squareness={32} id={id} image={img} link={url} format="png" style={`--oval-color: ${color()}`}/></Squish>)}
		{Array.from({length: 10}, (e, i) => i).map((i) => <Squish><TextOval squareness={32} id={i} link="/" style={`--oval-color: ${color()}`}></TextOval></Squish>)}
	</Columns>
</BaseLayout>

<script>
	import '../scripts/squish-ovals.js';
</script>
