---
import 'src/styles/global.css';
import 'src/styles/home.css';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import TextOval from '@src/layouts/TextOval.astro';
import Oval from '@src/layouts/Oval.astro';
import Squish from 'src/layouts/Squish.astro';

import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";
import { getCollection, getEntry } from 'astro:content';

const imageImporters = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif}');

const allWork = await getCollection('work');
const images = [];
// const imageRegex = /<Collector(?=\s+[^>]*img=['"](?<img>[^'"]+)['"])(?=\s+[^>]*id=['"](?<id>[^'"]+)['"])/g;
// const imageRegex = /<Collector\s(?:\s*(\w+)\s*=\s*['"{]([^'"{}]*)['"}])*\s*\/>/g;
const collectorRegex = /<Img\s+([^>]+)\/>/g;
const propertyRegex = /\b(?<key>\w+)\s*=\s*['"{](?<value>[^'"{}]*)['"}]/g;
for (let content of allWork) {
	for (let match of content.body.matchAll(collectorRegex)) {
		let properties = {
			id: undefined,
			img: undefined,
		};
		for (let keyValueMatch of match[0].matchAll(propertyRegex)) {
			properties[keyValueMatch.groups.key] = keyValueMatch.groups.value;
		}
		images.push({
			id: images.length,
			url: `/work${content.slug}` + (properties.id ? `#${properties.id}` : ""),
			img: imageImporters['/src/assets/work/' + properties.img](),
		})
	}
}
console.log(images);

---

<BaseLayout pageTitle="Calder Ruhl Hansen" name=false>
	<TextOval squareness={38} id="intro" color="rgb(235, 238, 242)">
		<p>
			Hi! I am a <a href="/">designer</a>, <a href="/">programmer</a>, and <a href="/">artist</a> with a background in <a href="/">type design</a> and <a href="/">3D animation</a>. I enjoy developing systems to solve complex visual problems, and I’m happiest when this process gets me working with interesting math, algorithms, and&nbsp;shapes.
		</p>
	</TextOval>

	<div id="oval-columns"></div>

	<div id="oval-waiting-room">
		{images.map(({id, url, img}) => <Squish><Oval squareness={32} id={id} image={img} link={url} format="png"/></Squish>)}
		<!-- {images.map(({url, img}) => <Squish><Oval squareness={32} id={1} image={img} link={url} /></Squish>)} -->
		{Array.from({length: 50}, (e, i) => i).map((i) => <Squish><TextOval squareness={32} id={i} link="/"></TextOval></Squish>)}
		<!-- {placeholderData.map(([i, text]) => <Squish><TextOval squareness={32} id={i}>{text}</TextOval></Squish>)}
		<Squish><TextOval squareness={32} id={"ig"} link="https://instagram.com/calder.rh">Instagram.</TextOval></Squish> -->
	</div>

	<script>
		import '../scripts/squish-ovals.js';
	</script>
</BaseLayout>

<style>
	:global(#intro) {
		max-width: 800px;
		margin: auto;
	}

	:global(#intro) p {
		font-size: 1.3rem;
	}

	#squish-ovals {
		width: 100%;
		height: auto;
	} 

</style>