---
import '@src/styles/global.css';
import '@src/styles/home.css';
import BaseLayout from 'src/layouts/BaseLayout.astro';
import TextOval from '@src/layouts/TextOval.astro';

import WorkItem from "@src/components/WorkItem.astro"
import Columns from "@src/layouts/Columns.astro"



import { getCollection, render } from 'astro:content'
import WorkTag from "@src/components/WorkTag.astro"
import { inferTags } from '@src/scripts/infer-tags.js'

const imageImporters = import.meta.glob('/src/assets/**/*.{jpeg,jpg,png,gif,svg}')
const allProjects = await getCollection('projects')
const allTags = await getCollection('tags')

// const allWork = await getCollection('works')


const workItems = []

for (let content of allProjects) {
  const workItem = {
    title: content.data.title,
    description: content.data.description,
    tags: await inferTags(content.data.tags.map(item => item.id), content.data.unlisted),
    unlisted: content.data.unlisted,
    date: content.data.date,
    priority: content.data.priority,
    draft: content.data.draft === true,
    slug: content.id,
    images: []
  }
  const { remarkPluginFrontmatter } = await render(content)
  for (let item of remarkPluginFrontmatter.toc) {
    if (item.type === 'image') {
      const previewPath = item.image.preview
      if (previewPath) {
        workItem.images.push({
          url: `/work${content.slug}#${item.id}`,
					img: imageImporters[previewPath](),
          alt: item.alt
        })
      }
    }
  }
  workItems.push(workItem)
}

const orderedTags = [
  'all',
  'art',
  'design',
  'code',
  'writing-systems',
  'encoding-systems',
  'lettering',
  'type',
  '3d',
  'music-visualization',
  'generative-art',
  'photography',
]


const sortedTags = Array.from(allTags).sort((a, b) => {
  if (a.data.unlisted != b.data.unlisted) return b.data.unlisted - a.data.unlisted
  return orderedTags.indexOf(a.id) - orderedTags.indexOf(b.id)
})

const renderedIntros =  await Promise.all(allTags.map(async (tag) => {
  const { Content } = await render(tag);
  return { slug: tag.id, content: Content }
}))
---

<BaseLayout title="Calder Ruhl Hansen" name={false}>
	<div id="intro-container" class="no-transition closed loading">
		<TextOval squareness={38} id="intro">
			<p>
				Hi! I’m a person who makes systems of meaningful forms. Or sometimes just systems, or forms, or things that feel meaningful.
			</p>
		</TextOval>
	</div>

	<div id="top-tag-separator"></div>
	<div id="tags">
    {sortedTags.map(tag => <WorkTag listName={tag.data['listed as'] ?? tag.data.title} titleName={tag.data.title} slug={tag.id} unlisted={tag.data.unlisted} hideOthers={tag.data['hide others']} prioritizeBalance={tag.data['prioritize balance']}></WorkTag>)}
  </div>
  <div id="tag-separator">
    <div id="tag-intro-container">
      <div id="tag-intro-current" />
      <div id="tag-intro-incoming" />
      <div id="tag-intro-waiting-room">
        {renderedIntros.map((item) => 
          <div class="tag-intro " data-slug={item.slug}>
            <item.content />
          </div>
        )}
      </div>
    </div>
  </div>
  <Columns id="work-cols" columnWidth={600} columnGap={20} prepareItems={false} fillColumns={false}>
    {workItems.map((data) => <WorkItem data={data}/>)}
  </Columns>
</BaseLayout>

<script>
  import '@src/scripts/work.js'
</script>
