---
import Oval from "../layouts/Oval.astro";

const { squareness, id, classes=[], link, color, image, altText } = Astro.props;
classes.push("text");
---

<Oval squareness={squareness} id={id} classes={classes} link={link} color={color} image={image} altText={altText}>
  <div class="oval-text">
    <slot />
  </div>
</Oval>