---
import TextOval from '@src/layouts/TextOval.astro';
import Oval from '@src/layouts/Oval.astro';

import logoImage from '../assets/logo.svg';
import '../styles/menu.css';

import random from "../scripts/random";
import { adjustColor, cssString } from '@src/scripts/color-utils';

function color() {
	return cssString(adjustColor({r: 168, g: 178, b: 190}, random(0.7, 1.2), random(0.9, 1.05)))
}
---

<div id="header">
  <a href="/">
    <div id="lockup">
      <img src={logoImage.src} id="logo"/>
      <span id="name">Calder Ruhl&nbsp;Hansen</span>
    </div>
  </a>

  <nav class="closed">
    <div id="menu-bg-scaler" class="menu-transition menu-scale">
      <div id="menu-background">
        <Oval squareness={40} id="menu-bg-oval"></Oval>
      </div>
    </div>
    <div id="menu" class="menu-transition menu-scale">
      <ul class="menu-transition">
        <li><TextOval squareness={43} link="/work"><span class="menu-label">Work</span></TextOval></li>
        <li><TextOval squareness={43} link="/about"><span class="menu-label">About</span></TextOval></li>
        <li>
          <ul id="social-links">
            <li>
              <Oval link="https://instagram.com/calder.rh" newTab={true} id="ig-icon" squareness={32}>
                <svg class="menu-label" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
                  <path class="st0" d="M292.92,3.5c-53.2,2.51-89.53,11-121.29,23.48c-32.87,12.81-60.73,30-88.45,57.82s-44.79,55.7-57.51,88.62
                c-12.31,31.83-20.65,68.19-23,121.42s-2.87,70.34-2.61,206.12S0.92,653.76,3.5,707.1c2.54,53.19,11,89.51,23.48,121.28
                c12.83,32.87,30,60.72,57.83,88.45s55.69,44.76,88.69,57.5c31.8,12.29,68.17,20.67,121.39,23s70.35,2.87,206.09,2.61
                s152.83-0.86,206.16-3.39s89.46-11.05,121.24-23.47c32.87-12.86,60.74-30,88.45-57.84s44.77-55.74,57.48-88.68
                c12.32-31.8,20.69-68.17,23-121.35c2.33-53.37,2.88-70.41,2.62-206.17s-0.87-152.78-3.4-206.1s-11-89.53-23.47-121.32
                c-12.85-32.87-30-60.7-57.82-88.45s-55.74-44.8-88.67-57.48c-31.82-12.31-68.17-20.7-121.39-23S634.83-0.2,499.04,0.06
                S346.25,0.9,292.92,3.5 M298.76,907.38c-48.75-2.12-75.22-10.22-92.86-17c-23.36-9-40-19.88-57.58-37.29s-28.38-34.11-37.5-57.42
                c-6.85-17.64-15.1-44.08-17.38-92.83c-2.48-52.69-3-68.51-3.29-202s0.22-149.29,2.53-202c2.08-48.71,10.23-75.21,17-92.84
                c9-23.39,19.84-40,37.29-57.57s34.1-28.39,57.43-37.51c17.62-6.88,44.06-15.06,92.79-17.38c52.73-2.5,68.53-3,202-3.29
                s149.31,0.21,202.06,2.53c48.71,2.12,75.22,10.19,92.83,17c23.37,9,40,19.81,57.57,37.29s28.4,34.07,37.52,57.45
                c6.89,17.57,15.07,44,17.37,92.76c2.51,52.73,3.08,68.54,3.32,202s-0.23,149.31-2.54,202c-2.13,48.75-10.21,75.23-17,92.89
                c-9,23.35-19.85,40-37.31,57.56s-34.09,28.38-57.43,37.5c-17.6,6.87-44.07,15.07-92.76,17.39c-52.73,2.48-68.53,3-202.05,3.29
                s-149.27-0.25-202-2.53 M706.37,232.77c0.06,33.14,26.96,59.96,60.1,59.9s59.96-26.96,59.9-60.1s-26.96-59.96-60.1-59.9
                c-0.01,0-0.01,0-0.02,0C733.12,172.74,706.31,199.64,706.37,232.77 M243.27,500.5c0.28,141.8,115.44,256.49,257.21,256.22
                S757.02,641.3,756.75,499.5S641.29,242.98,499.5,243.26S243,358.72,243.27,500.5 M333.33,500.32
                c-0.18-92.05,74.29-166.82,166.34-167s166.82,74.29,167,166.34s-74.29,166.82-166.34,167c-92.04,0.19-166.81-74.26-167-166.3
                C333.33,500.35,333.33,500.33,333.33,500.32"/>
              </svg>
              </Oval>
            </li>
            <li>
              <Oval link="https://www.linkedin.com/in/calder-ruhl-hansen-5671b6200/" newTab={true} id="li-icon" squareness={32}>
                <svg class="menu-label" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 21" style="enable-background:new 0 0 21 21;" xml:space="preserve">
                  <path class="st0" d="M19.48,0H1.58C0.73,0,0,0.68,0,1.51v17.98C0,20.32,0.48,21,1.33,21h17.9c0.86,0,1.77-0.68,1.77-1.51V1.51
                  C21,0.68,20.34,0,19.48,0z M8,8h2.83v1.44h0.03c0.43-0.78,1.7-1.57,3.28-1.57c3.02,0,3.86,1.6,3.86,4.57V18h-3v-5
                  c0-1.33-0.53-2.5-1.77-2.5c-1.51,0-2.23,1.02-2.23,2.7V18H8V8z M3,18V8h3v10H3z M6.38,4.5c0,1.04-0.84,1.88-1.88,1.88
                  S2.62,5.54,2.62,4.5S3.46,2.62,4.5,2.62S6.38,3.46,6.38,4.5z"/>
                </svg>
              </Oval>
            </li>
            <li>
              <Oval link="https://github.com/calder-rh" newTab={true} id="gh-icon" squareness={32}>
                <svg class="menu-label" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98 96" style="enable-background:new 0 0 98 96;" xml:space="preserve">
                  <path class="st0" d="M48.85,0C21.84,0,0,22,0,49.22c0,21.76,13.99,40.17,33.4,46.69c2.43,0.49,3.32-1.06,3.32-2.36
                    c0-1.14-0.08-5.05-0.08-9.13c-13.59,2.93-16.42-5.87-16.42-5.87c-2.18-5.7-5.42-7.17-5.42-7.17c-4.45-3.01,0.32-3.01,0.32-3.01
                    c4.93,0.33,7.52,5.05,7.52,5.05c4.37,7.5,11.4,5.38,14.24,4.07c0.4-3.18,1.7-5.38,3.07-6.6c-10.84-1.14-22.24-5.38-22.24-24.28
                    c0-5.38,1.94-9.78,5.01-13.2c-0.49-1.22-2.18-6.27,0.49-13.04c0,0,4.12-1.3,13.43,5.05c3.98-1.08,8.09-1.63,12.21-1.63
                    s8.33,0.57,12.21,1.63c9.3-6.36,13.43-5.05,13.43-5.05c2.67,6.76,0.97,11.82,0.49,13.04c3.15,3.42,5.01,7.82,5.01,13.2
                    c0,18.91-11.4,23.06-22.32,24.28c1.78,1.55,3.32,4.48,3.32,9.13c0,6.6-0.08,11.9-0.08,13.53c0,1.3,0.89,2.85,3.32,2.36
                    c19.41-6.52,33.4-24.93,33.4-46.69C97.71,22,75.79,0,48.85,0z"/>
                </svg>
              </Oval>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="close-menu" class="menu-label">
      <Oval squareness={32} style={`--oval-color: ${color()}`}>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
          <polygon class="st0" points="100,9.09 90.91,0 46.36,46.36 0,90.91 9.09,100 53.64,53.64 	"/>
          <polygon class="st0" points="90.91,100 100,90.91 53.64,46.36 9.09,0 0,9.09 46.36,53.64 	"/>
        </svg>
      </Oval>
    </div>
  </nav>
</div>

<script>
  import '../scripts/menu.js';
</script>