---
import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";
import { imageSettings } from 'src/scripts/image-settings.js'

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,svg}')

// const test = await glob('src/assets/**/*.yaml')
// console.log(test)

const {
  src,
  slug: imgSlug,
  alt,
  width,
  scale,
  id,
  classes=[],
} = Astro.props;

const { slug: pageSlug } = Astro.params
const slug = imgSlug ?? pageSlug

const imagePath = (() => {
  if (src.match(/^~\//)) return `/src/assets/${src.slice(1)}`
  else if (src.match(/^\//)) return `/src/assets/work${src}`
  else return `/src/assets/work/${slug}/${src}`}
)()

const classList = ["img"]
if (scale) classList.push("scaled unsized")
if (classes) classList.push(...classes)

const settings = imageSettings[imagePath]
if (settings?.shadow) classList.push('shadow')

const classesUsed = classList.join(" ")



if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "/src/assets/**/*.{jpeg,jpg,png,gif,svg}"`);
---

<div class={classesUsed} id={id} data-scale={scale}>
  <Image src={images[imagePath]()} width={width} alt={alt} loading="lazy"/>
</div>

<script>
  document.querySelectorAll(".img.scaled").forEach(img_container => {
    const img = img_container.querySelector("img")
    fetch(img.src)
      .then(r => r.text())
      .then(text => {
        const m = text.match(/viewBox\s*=\s*"([^"]+)"/i);
        if (!m) return;

        const [minX, minY, w, h] = m[1].split(/\s+/).map(Number);
        const scale = img_container.dataset.scale * 0.01;

        img.style.width = (w * scale) + "rem";
        img.style.height = "auto";
      });
      img_container.classList.toggle("unsized", false);
    });
</script>