---
import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";

const {
  src,
  fullSrc,
  alt,
  uses='ftpb',
  width,
  scale,
  id,
  classes=[],
  format='png'
} = Astro.props;

const classList = ["img"]
if (classes) classList.push(...classes);
const classesUsed = classList.join(" ");

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,svg}')

const imagePath = (() => {
  if (fullSrc) {
    return '/src/assets/' + fullSrc;
  } else {
    return '/src/assets/work/' + src;
  }
})()
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "/src/assets/**/*.{jpeg,jpg,png,gif,svg}"`);
---

<div class={classesUsed} id={id}>
  {(uses === undefined || uses.includes('f')) && <Image src={images[imagePath]()} width={width} alt={alt} format={format} loading="lazy"></Image>}
</div>

