---
import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";

const {
  src,
  alt,
  uses,
  caption,
  width,
  id,
  format='png'
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif}')

const imagePath = '/src/assets/work/' + src;
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "/src/assets/**/*.{jpeg,jpg,png,gif}"`);
---

<div class="img">
  <span class="img-target" id={id}></span>
  {(uses === undefined || uses.includes('f')) && <Image id={`img-${id}`} src={images[imagePath]()} alt={alt} format={format}></Image>}
</div>
