---
import type { ImageMetadata } from 'astro';
import { Image } from "astro:assets";
import { getSettings } from 'src/scripts/image-settings.js'

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,svg}')

const {
  src,
  slug: imgSlug,
  alt: pageAlt,
  scale,
  res=1440,
  id,
  classes=[],
  context="default"
} = Astro.props;

const { slug: pageSlug } = Astro.params
const slug = imgSlug ?? pageSlug

const imagePath = (() => {
  if (src.match(/^~\//)) return `src/assets/${src.slice(2)}`
  else if (src.match(/^\//)) return `src/assets/work${src}`
  else return `src/assets/work/${slug}/${src}`}
)()
const imagePathSlash = '/' + imagePath

if (!images[imagePathSlash]) throw new Error(`"${imagePathSlash}" does not exist in glob: "/src/assets/**/*.{jpeg,jpg,png,gif,svg}"`);

const classList = []
if (scale) classList.push("scaled")
if (classes) classList.push(...classes)

const settings = await getSettings(imagePathSlash, context)

const alt = pageAlt ?? settings.alt
if (settings.shadow) classList.push('shadow')
const w = (scale !== undefined) ? `${scale * settings.dimensions.width / 100}rem` : "100%"
---

<style define:vars={{...settings.cssVars, w}}>
  .img-inner {
    transform-origin: top left;
    width: var(--w);
    aspect-ratio: var(--aa);
    transform: translate(var(--tx), var(--ty)) scale(var(--sf));
    min-height: 0;
    overflow: visible;
  }

  .img {
    display: flex;
    justify-content: center;
    /* outline: 1px solid red; */
    object-fit: contain;

  }
</style>

<div class="img spaced-media" data-aspect={settings.dimensions.adjustedAspect}>
  <!-- needed so that the margin from the optical aligment is separate from the margin around every image -->
  <div class="img-inner">
    <!-- the actual element that is resized (can’t be the img itself because that’s in the scope of the Image component) -->
    <Image src={images[imagePathSlash]()} alt={alt} loading="lazy" class:list={classList} id={id} width={res} format={settings.format}/>
  </div>
</div>