---
import '@src/styles/article.css'
const { data } = Astro.props;
import { getCollection, getEntry, render } from 'astro:content';
import { hasPage } from '@src/scripts/utilities.js'
import { marked } from 'marked';

const title = data.name || data.title

const backlinks = []
if (data.tags) {
  const tagList = typeof data.tags === 'string' ? [data.tags] : data.tags
  for (let tag of tagList) {
    const id = typeof tag === 'string' ? tag : tag.id
    const tagItem = await getEntry('items', id)
    console.log(tagItem?.data.backlink)
    if (hasPage(tagItem) && tagItem?.data.backlink) {
      const blTitle = tagItem.data.name
      const url = '/work/' + tagItem.id
      const mdText = tagItem?.data.backlink.replace('_', `[${blTitle}](${url})`)
      const renderedBl = marked.parse(mdText).replaceAll(/<\/?p>|\s+$/gi, '')
      backlinks.push(renderedBl)
    }
  }
}

const classes = ["title-name"] 
if (backlinks.length > 0) {classes.push("has-backlinks")}

const lastBacklink = backlinks?.[backlinks.length - 1]
const mdTitle = (data.quote ? '“' : '') + marked.parse(title).replaceAll(/<\/?p>|\s+$/gi, '') + (data.quote ? '”' : '')
---

<div class="page-intro">
  <h1 class="page-title konsole">
    <span class:list={classes} set:html={mdTitle}/>
    {backlinks?.length > 0 &&
      <span class="backlinks">
        {backlinks.slice(0, -1).map(bl => <span set:html={bl + ', '}/>)}{<span set:html={lastBacklink}/>}
      </span>
    }
  </h1>
</div>