---
import { Image } from "astro:assets"
import Cap from "./Cap.astro"
import random from "@src/scripts/random"

const { data } = Astro.props
const { title, description, tags, date, priority, draft, images } = data
const minHeight = 0.6 + title.length / 80
---

<!-- <a> -->
  <div class="work-item" data-data={JSON.stringify(data)} data-tags={JSON.stringify(tags)} data-minHeight={`${minHeight}`} style=`--min-width: ${random(0.05, 0.07)}; --min-height: ${minHeight}rem; --work-item-color: var(--offwhite)`>
    <Cap side="top" squareness={38}></Cap>
    <div class="work-content-wrapper">
      <div class="work-content">
        <div class="work-content-bg"></div>
        <div class="work-content-inner konsole">
          <h3 class="work-title work-text">{title}</h3>
          {description && <p class="work-description work-text">{description}</p>}
          {images.length > 0 &&
            <div class="work-images">
              <div class="image-rows"></div>
              <div class="image-waiting-room">
                {images.map(({url, img, alt}) => <a href={url}><Image src={img} alt={alt} format="png" height={200} loading="eager"/></a>)}
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <Cap side="bottom" squareness={35}></Cap>
  </div>
<!-- </a> -->
