---
// import { Image } from "astro:assets"
import Img from "@src/components/Img.astro"
import Cap from "./Cap.astro"
import random from "@src/scripts/random"
import { marked } from 'marked'

const { data } = Astro.props
const { title, description, tags, rows, slides, draft, unlisted, id, slug } = data
const minHeight = 0.6 + title.length / 80
const url = `/${slug}`

const contextRows = (() => {
  if (rows === undefined) return undefined

  const contextRows = rows.map(
    (row) => (row.map(
      (image) => ({path: image, contexts: []}))
    )
  )
  for (let image of contextRows[0]) {image.contexts.push("work top")}
  for (let image of contextRows[contextRows.length - 1]) {image.contexts.push("work bottom")}
  for (let row of contextRows) {
    if (row.length == 1) {row[0].contexts.push("work row")}
  }

  return contextRows
})()

const classList = ["work-item no-rise"]
if (draft) classList.push("draft")
if (unlisted) classList.push("unlisted")
const classesUsed = classList.join(" ")
---

<div class={classesUsed} data-data={JSON.stringify(data)} data-tags={JSON.stringify(tags)} data-minHeight={`${minHeight}`} style=`--min-width: ${random(0.05, 0.07)}; --min-height: ${minHeight}rem; --work-item-color: var(--offwhite)`>
  <div class="work-item-scaler">
    <Cap side="top" squareness={38} url={draft ? null : url}></Cap>
    <div class="work-content-wrapper">
      <div class="work-content konsole">
        {!draft && <a class="work-link no-rise" href={url}/>}
        <h3 class="work-title work-text">{
          (() => {
            const mdTitle = marked.parse(title).replaceAll(/<\/?p>/gi, '')
            if (draft) return <span class="work-title-contents" set:html={mdTitle} />
            else return <a href={url} class="work-url work-title-contents" set:html={mdTitle} />
          })()
        }</h3>
        {description && <p class="work-description work-text">{description}</p>}
        {draft && <p class="coming-soon">coming soon</p>}
        {contextRows &&
          <div class="work-rows">
            {contextRows.map((row) => <div class="work-row">
              {row.map(({path, contexts}) => <div class="work-image">
                <Img slug={id} src={path} res={500} context={contexts}/>
              </div>)}
            </div>)}
          </div>
        }
        {slides &&
          <div class="work-slides">
            <div class="work-slides-waiting-room">
              {slides.first.map((path) => <div class="work-image first-slide">
                <Img slug={id} src={path} res={500}/>
              </div>)}
              {slides.rest.map((path) => <div class="work-image rest-slide">
                <Img slug={id} src={path} res={500}/>
              </div>)}
            </div>
            <div class="work-slides-display"></div>
          </div>
        }
      </div>
    </div>
    <Cap side="bottom" squareness={35} url={draft ? null : url}></Cap>
  </div>
</div>