---
import Oval from "./Oval.astro";

const { squareness, id, classes=[], link, image, altText, data, style } = Astro.props;
classes.push("text");
---

<Oval squareness={squareness} id={id} classes={classes} link={link} image={image} altText={altText} data={data}, style={style}>
  <div class="oval-text konsole">
    <slot />
  </div>
</Oval>